# Catch these folders anywhere in the project
**/.dart_tool/
**/build/
**/.packages
**/.pub-cache/
**/.pub/
**/*.apk
**/*.dill

# ------------------------------
# Flutter / Dart
# ------------------------------
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
.flutter-plugins
.flutter-plugins-dependencies
.generated/
.idea/
.vscode/

# ------------------------------
# OS Files
# ------------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# IDE / Editor specific
# ------------------------------
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# ------------------------------
# Others
# ------------------------------
*.lock
*.bak
*.swp
*.tmp

# Firebase configuration files
android/app/google-services.json